/* globals.css */
@import "tailwindcss";


@theme {
  /* Colors */
  --color-primary: #a20607;
  --color-background: #f5f5f5;
  --color-text: #333333;
  --color-error: #d64545;
  --color-success: #4caf50;

  /* Spacing */
  --spacing-xsmall: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2.5rem;
  --spacing-massive: 4rem;

  /* Box Shadows */
  --box-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0 8px 12px rgba(0, 0, 0, 0.1);

  --box-shadow-inner-sm: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  --box-shadow-inner-md: inset 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-inner-lg: inset 0 8px 12px rgba(0, 0, 0, 0.1);

  /* Animations */
  --animate-float: float 3s ease infinite;
  --animate-fade-in: fadeIn 0.5s ease-in-out;
  --animate-bounce: bounce 1s ease-in-out;
  --animate-vibrate-slow: vibrateSlow 1s linear;
  --animate-blink: blink1 5s linear 0s infinite normal none;

  /* Add breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

/* Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes vibrateSlow {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(2px, -2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  60% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes blink1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

.alert {
  background-color: #15803D;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #15803D;
  border-radius: 5px;
  margin-bottom: 1rem;
}