name: Scidialali web

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build_test:
    runs-on: ubuntu-latest
    name: Continuous Integration
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: Install pnpm manually
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run ESLint Checkout
        run: pnpm run lint

      - name: Run code
        run: pnpm run build

  Security_scan:
    runs-on: ubuntu-latest
    needs: build_test
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: "fs"
          scan-ref: "."
          format: json
          exit-code: 0
          vuln-type: os,library
          output: trivy-result.json

      - name: Upload Trivy scan results as artifact
        uses: actions/upload-artifact@v4
        with:
          name: trivy-result
          path: trivy-result.json

  docker_build:
    runs-on: ubuntu-latest
    name: Docker Image Build
    needs: build_test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: alexandrepaulkouame/scidialali-web:latest

  docker_deploy:
    runs-on: ubuntu-latest
    name: Continuous Deployment
    needs: docker_build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create directory on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: mkdir -p /root/projects/scidialali-web

      - name: Copy files via SSH
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          source: "./docker-compose.yml"
          target: "/root/projects/scidialali-web"

      - name: Deploy using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd /root/projects/scidialali-web
            cat > .env << EOF
            NEXTAUTH_URL=http://localhost:3002
            NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}
            API_BASE_URL={{ secrets.API_BASE_URL }}
            EOF

            docker compose pull
            docker compose down
            docker compose up -d
